.container-box {
    height: 100vh;
    width: 100vw;
    .main {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url('@/assets/images/bg.jpg') center center/cover no-repeat;
        overflow: hidden;
        padding-top: 50px;
    }
}